body {
  font-family: Helvetica;
}
.app {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  background: linear-gradient(#c54f4f, #bf69e7);
  padding-left: 10vw;
  padding-right: 10vw;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  padding: 1vw;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.keyboard-container {
  display: flex;
  justify-content: space-around;

}

.keyboard {
  display: flex;
  justify-content: center;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  display: flex;
}

.white span {
  padding-top: calc(var(--width) * 3.6);
  padding-left: 10px;
}

.black span {
  padding-top: calc(var(--width) * 3.4);
  padding-left: 10px;
  color: white;
}

.white {
  --width: 5vw;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 3.125vw;
  background-color: black;
  border: 1px solid #333;
  margin-right: calc(var(--width) / -2);
  margin-left: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 0.7vw;
  background-color: black;
  color: white;
  margin: 1vh;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.button.active {
  background-color: #005CC8;
  color: white;
  border: 1px solid white;
  transition: all 0.25s ease-out;
  
}

// input[type=range] {
//   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
//   width: 100%; /* Specific width is required for Firefox. */
//   background: transparent; /* Otherwise white in Chrome */
// }

// input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
// }

// input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
//   margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
// }

.filter {
  width: 20vw;
  padding: 20px 0px 20px 0px;
}

.ADSR {
  display: flex;
}

.envelope-range {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.envelope-range label {
  text-align: center;
  padding-top: 70px;
}

.vertical {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.pointer {
  cursor: pointer;
}


.canvas-container {
  display: flex;
  justify-content: center;

  
}

.canvas {
  border: 1px solid black;
  background-color: white;
}

@media screen and (max-width: 1025px) {
  .white {
      --width: 10.4vw;
  }

  .black {
      --width: 7vw;
  }

  .keyboard-container {
    flex-direction: column;
  }

  .keyboard {
    margin-bottom: 10px;
  }
} 

@media screen and (max-width: 750px) {
  .envelope-range label {
    text-align: center;
    padding-top: 50px;
  }
} 
